html {
  margin: 0px;
  padding: 0px;
}

body{
  color: black;
  margin: 0px;
  padding: 0px;
  font-size: 9.5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "SimSun", serif;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

article {
  flex-basis: 45%;
  padding: 10px 30px 0px 30px;
  /*margin-bottom: 10px;*/
  page-break-inside: avoid;
  line-height: 1.4;
  box-sizing: border-box;
}
h1 {
  font-family: SimHei, STXihei, "MicrosoftJhengHei", STHeiti, MingLiu, "Palatino Linotype", "Book Antiqua", Palatino, "SimSun", serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

h2 {
  font-variant: small-caps;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  padding-bottom: 5px;
}

.title {
  font-family: SimHei, STXihei, "MicrosoftJhengHei", STHeiti, MingLiu;
  font-weight: bold;
}

img {
  height: 40px;
  display: block;
  margin: -5px -10px 0 auto;
}
