<article class="label-item">
  <h1>{{#分类号}}{{分类号}}{{/分类号}}</h1>
  <p>{{#code_path}}<span style="margin: 0 auto"><img src={{code_path}}></span>{{/code_path}}</p>
  <h1>{{#中文名}}<b>{{中文名}}</b>{{/中文名}}</h1>
</article>
