<article class="label-item">
  <h1>{{标签标题}}{{#标签备注}}（{{标签备注}}）{{/标签备注}}</h1>
  <p><span class="title">分类号：</span>{{分类号}}<span style="float:right;">{{#基原拉丁科名}}{{#基原中文科名}}{{基原中文科名}}，{{/基原中文科名}}<b>{{基原拉丁科名}}</b>{{/基原拉丁科名}}</span></p>
  <p>{{#基原中文名}}{{^genus}}<span class="title">中文名：</span>{{/genus}}{{基原中文名}}{{/基原中文名}}{{#genus}}{{#基原中文名}}，{{/基原中文名}}<i>{{genus}} {{specificEpithet}}</i>{{#taxonRank}} {{taxonRank}}{{/taxonRank}}<i> {{infraspecificEpithet}}</i> {{scientificNameAuthorship}}{{/genus}}</p>
  {{#鉴定人}}<p><span class="title">鉴定人：</span>{{鉴定人}}<span style="float:right;"><span class="title">鉴定日期：</span>{{鉴定日期}}</span></p>{{/鉴定人}}
  {{#药用部位}}<p><span class="title">药用部位：</span>{{药用部位}}</p>{{/药用部位}}
  {{#化学成分}}<p><span class="title">化学成分：</span>{{化学成分}}</p>{{/化学成分}}
  <p><span class="title">采集地：</span>{{#采集地国}}{{采集地国}}{{/采集地国}}{{#采集地省}}，{{采集地省}}{{/采集地省}}{{#采集地市}}，{{采集地市}}{{/采集地市}}{{#采集地县}}，{{采集地县}}{{/采集地县}}{{#小地名}}，{{{小地名}}}{{/小地名}}{{#生境}}，{{{生境}}}{{/生境}}</p>
  <p>{{#性别}}性别：{{性别}}；{{/性别}}{{#分子材料}}分子材料：{{分子材料}}；{{/分子材料}}{{#基质}}基质：{{基质}}；{{/基质}}{{#习性}}生活型：{{习性}}；{{/习性}}{{#多度}}多度：{{多度}}；{{/多度}}{{#体高}}体高：{{体高}}；{{/体高}}{{#胸径}}胸径：{{胸径}}；{{/胸径}}{{#生殖器官}}生殖器官：{{生殖器官}}；{{/生殖器官}}{{#叶}}叶：{{叶}}；{{/叶}}{{#果实}}果：{{果实}}；{{/果实}}{{#繁殖体}}繁殖体：{{繁殖体}}；{{/繁殖体}}{{#茎}}茎：{{茎}}；{{/茎}}{{#根}}根：{{根}}；{{/根}}{{#不定根}}不定根：{{不定根}}；{{/不定根}}{{#假根}}假根：{{假根}}；{{/假根}}{{#寄主}}寄主：{{寄主}}；{{/寄主}}{{#历史鉴定}}野外鉴定：{{历史鉴定}}；{{/历史鉴定}}{{#当地名称}}当地名称：{{当地名称}}；{{/当地名称}}{{#保护等级}}保护等级：{{保护等级}}; {{/保护等级}}{{#备注}}备注：{{备注}}{{/备注}}</p>
  {{#采集人}}<p><span class="title">采集人：</span>{{{采集人}}}</p>{{/采集人}}
  <p>{{#经度}}<span class="title">坐标：</span>{{经度}}&deg; {{纬度}}&deg;，{{/经度}}{{#海拔}}{{^经度}}<span class="title">海拔：</span>{{/经度}}{{海拔}}{{#海拔高}}-{{海拔高}}{{/海拔高}} m{{/海拔}}{{#code_path}}<span style="float:right;"><img src={{code_path}}></span>{{/code_path}}</p>
  <p>{{#采集号}}<span class="title">采集号：</span>{{采集号}}&nbsp;&nbsp;&nbsp;{{/采集号}}{{#采集日期}}{{^采集号}}采集日期：{{/采集号}}<b>{{采集日期}}</b>{{/采集日期}}</p>
</article>
