<article class="label-item">
  <h1>{{标签标题}}</h1>
  <h3>{{标签备注}}</h3>
  <h2>{{#分类号}}{{分类号}}{{/分类号}}</h2>
  <p>{{#code_path}}<span style="margin: 0 auto"><img src={{code_path}}></span>{{/code_path}}</p>
  <h2>{{#中文名}}<b>{{中文名}}</b>{{/中文名}}</h2>
</article>
