html {
  margin: 0px;
  padding: 0px;
}

body{
  color: black;
  margin: 0px;
  padding: 0px;
  font-size: 9.5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "SimSun", serif;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

article {
  flex-basis: 45%;
  padding: 9px 17px 0px 16px;
  page-break-inside: avoid;
  line-height: 1.4;
  box-sizing: border-box;
}

h1 {
  font-family: SimHei, STXihei, "MicrosoftJhengHei", STHeiti, MingLiu, "Palatino Linotype", "Book Antiqua", Palatino, "SimSun", serif;
  font-size: 14px;
	line-height: 1.1;
  text-align: center;
}

h2 {
  font-variant: small-caps;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
}

.title {
  font-family: SimHei, STXihei, "MicrosoftJhengHei", STHeiti, MingLiu;
  font-weight: bold;
}

img {
  height: 45px;
  display: block;
  margin: -3px -8px 0 auto;
}


