html {
  margin: 0px;
  padding: 0px;
}

body{
  color: black;
  margin: 0px;
  padding: 0;
  font-size: 9.5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 1.2;
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

article {
  flex-basis: 45%;
  padding: 9px 20px 0px 20px;
  page-break-inside: avoid;
  line-height: 1.2;
  box-sizing: border-box;
}

h1 {
  font-style: bold;
  font-size: 10px;
  text-align: center;
}

h2 {
  font-style: bold;
  font-variant: small-caps;
  font-size: 10px;
  text-align: center;
}

footer{
  font-size: flex;
  font-style: bold;
  font-variant: small-caps;
  text-align: center;
}

